*
*/

!fish/
!fish/**
!yazi/
!yazi/**
!nvim/
!nvim/**
!aerospace/
!aerospace/**
!starship.toml
!sketchybar/
!sketchybar/**
!tmux/
!tmux/**
!karabiner/
!karabiner/**
!opencode/
!opencode/**
!ghostty/
!ghostty/**
!.gitignore
